.vs
/extracted_res
.idea
.vscode
/uma_gacha_history_frontend/public/img
__pycache__
/uma_gacha_history_backend/database/uma_gacha.db
/uma_gacha_history_backend/test.py
/extracted_res_png
/uma_gacha_history_backend/keys.py
